<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
</head>
<body>
    <h1>sign-Up form</h1>
    <form action ="/create" method="post">
    <label >Username</label>
    <input type="text" placeholder="Enter Username" name ="userName">
    <label>Email</laber>
    <input type = "email" placeholder ="Enter Email" name ="userEmail">
    <button type = "submit">Submit</button>
    </form>
</body>
</html>